@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));


@theme {
  /* fonts */
  --font-sans: var(--font-outfit);
  --font-serif: var(--font-ovo);

  /* cores */
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001f;
}


:root {
  --shadow-black: 4px 4px 0px #000;
  --shadow-white: 4px 4px 0px #fff;
}
